.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}
.atmosphere {
  background: #171d21;
  padding-bottom: 10%;
  position: relative;
}
.top {
  display: flex;
  align-items: center;
  position: absolute;
  top: -8%;
}
.topTitle {
  font-family: "Orchidea Pro", sans-serif;
  font-weight: 300;
  font-size: 64px;
  line-height: 140%;
  text-transform: uppercase;
  color: #fff;
  max-width: 645px;
  position: absolute;
  right: -85%;
  bottom: 20%;
}
.topImages {
  position: relative;
}
.topImg2 {
  position: absolute;
  bottom: -10%;
  left: -15%;
}
.content {
  padding-top: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contentLeft {
  max-width: 440px;
}
.title {
  margin-bottom: 30px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: #c98a62;
}
.descr {
  margin-bottom: 30px;
  font-family: "PT Serif", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 164%;
  color: #fff;
}
.descrBlock {
  display: block;
  margin-bottom: 20px;
}
.linkText {
  margin-left: 30px;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #c98a62;
}
.linkImg {
  transition: all .4s;
}
.linkText {
  transition: all .4s;
}
.descrBottom:hover .linkText {
  transform: scale(1.03);
}
.descrBottom:hover .linkImg {
  transform: scale(1.2);
}
.topMobile {
  display: none;
}

@media (max-width: 1400px) {
  .topTitle {
    right: -42%;
  }
  .top {
    top: -4%;
  }
}
@media (max-width: 1000px) {
  .top {
    display: none;
  }
  .content {
    padding-top: 0;
  }
  .topMobile {
    display: block;
    position: relative;
    margin-bottom: 25%;
  }
  .topMobileImg {
    object-fit: cover;
    width: 100%;
    height: 400px;
  }
  .topMobileTitle {
    font-family: "Orchidea Pro", sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 140%;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    bottom: -17%;
    left: 5%;
    max-width: 215px;
  }
}

@media (max-width: 720px) {
  .content {
    flex-direction: column;
    gap: 30px;
  }
  .title {
    font-size: 16px;
  }
  .descr {
    font-size: 16px;
  }
  .linkText {
    font-size: 12px;
    margin-left: 10px;
  }
}

@media (max-width: 450px) {
  .topMobileTitle {
    font-size: 30px;
    bottom: -13%;
  }
  .topMobile {
    margin-bottom: 30%;
  }
}