.tastes {
  padding-bottom: 20%;
}
.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}
.top {
  margin-top: 160px;
  margin-bottom: 120px;
  display: flex;
  align-items: center;
  position: relative;
}
.topTitle {
  font-family: "Orchidea Pro", sans-serif;
  font-weight: 300;
  font-size: 64px;
  line-height: 140%;
  text-transform: uppercase;
  color: #161b21;
  position: absolute;
  max-width: 640px;
  right: 27%;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contentLeft {
  max-width: 460px;
}
.title {
  margin-bottom: 30px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: #c98a62;
}
.descr {
  font-family: "PT Serif", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 164%;
  color: #161b21;
}
.descrBlock {
  display: block;
  margin-bottom: 20px;
}
.linkText {
  margin-left: 20px;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #c98a62;
}
.linkImg {
  transition: all .4s;
}
.linkText {
  transition: all .4s;
}
.descrBottom:hover .linkText {
  transform: scale(1.03);
}
.descrBottom:hover .linkImg {
  transform: scale(1.2);
}
.right {
  position: relative;
}
.right2 {
  position: absolute;
  bottom: -15%;
  right: -20%;
}

@media (max-width: 800px) {
  .top {
    margin-top: 100px;
  }
  .topTitle {
    font-size: 35px;
    bottom: -10%;
    left: 35%;
    width: 100%;
  }
  .content {
    flex-direction: column;
    gap: 40px;
  }
  .right2 {
    width: 50%;
    bottom: -5%;
    right: 0;
  }
  .title {
    font-size: 16px;
  }
  .descr {
    font-size: 16px;
  }
  .linkText {
    font-size: 12px;
    margin-left: 10px;
  }
}

@media (max-width: 440px) {
  .top {
    margin-bottom: 75px;
  }
  .topImg {
    width: 60%;
  }
  .topTitle {
    font-size: 30px;
    bottom: -18%;
    left: 20%;
  }
}